<h1>Welcome Back, 
    <span class="capitalize">{{ name }}</span></h1>
<div class="overview-container cogni-flex gap-3 flex-wrap mb-9">
    <rounded-square [num]="children.length" description="registered children" />
    <rounded-square [num]="totalGamesPlayed" description="total game played" />
    <rounded-square [num]="badgesEarned" description="badges earned" />
    <rounded-square [num]="0" description="minutes today" />
</div>
<div class="progress-overview-container card px-5 py-5">
    <h2>Weekly Progress</h2>
    @for (child of children; track $index) {
    <p class="capitalize">{{ child.name }}</p>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
</div>