.field {
    margin-bottom: 15px;
}

.field-input {
    border: 1px solid #000;
    padding: 10px 15px;
}

.field-input::placeholder {
    opacity: 0.7;
}
table {
    th {
        text-align: left;
    }

    th,
    td {
        padding-inline-end: 10px;
    }
}