<div class="px-5 mt-5">
    <h2 class="mb-2">All Users</h2>

    <section class="cogni-flex justify-between mb-4">
        <div class="field">
            <input type="text" placeholder="Search by name/email" [(ngModel)]="searchTerm" (input)="filterUsers()"
                class="field-input" />

        </div>

        <select [(ngModel)]="selectedRole" (change)="filterUsers()" class="px-5 py-1.5 border">
            <option value="">All Roles</option>
            <option value="parent">Parent</option>
            <option value="child">Child</option>
            <option value="admin">Admin</option>
        </select>
    </section>

    <div class="overflow-x-auto">
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Parent Id</th>
                    <th>Email Verified</th>
                    <th>Token (exists for unverified users)</th>
                    <th>Token Expiration</th>
                </tr>
            </thead>
            <tbody>
                @for (user of filteredUsers(); track user._id) {
                <tr>
                    <td>{{ user._id }}</td>
                    <td>{{ user.name || 'null'}}</td>
                    <td>{{ user.email || 'null' }}</td>
                    <td>{{ user.role || 'null' }}</td>
                    <td>{{ user.parent_id || 'null' }}</td>
                    <td>{{ user.verified || true }}</td>
                    <td>{{ user.emailToken || 'null' }}</td>
                    <td>{{ user.emailTokenExpires || 'null' }}</td>
                    <td>
                        <button matIconButton [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu" class="custom-box-shadow">
                            <button mat-menu-item
                                (click)="editUser(user)" 
                                class="hover:underline hover:underline-offset-5">
                                Edit
                            </button>
                            <button mat-menu-item
                                (click)="deleteUser(user)" 
                                class="hover:underline hover:underline-offset-5">
                                Delete
                            </button>
                        </mat-menu>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <button (click)="exportToPDF()" class="cogni-button mt-10">Export to PDF</button>`
    </div>
</div>