<section class="bg-blue">
    <app-nav-bar [navs]="[
        { label: 'Overview', route: '/overview' },
        { label: 'My children', route: '/children' },
        { label: 'Activity Log', route: '/activity' },
        { label: 'Settings', route: '/settings' }
    ]" />

    <div class="px-5">
        <h1>Welcome Back, James</h1>
        <div class="overview-container cogni-flex gap-3 flex-wrap mb-9">
            <rounded-square [num]="2" description="active children" />
            <rounded-square [num]="83" description="total game played" />
            <rounded-square [num]="20" description="badges earned" />
            <rounded-square [num]="55" description="minutes today" />
        </div>
        <div class="progress-overview-container card px-5 py-5">
            <h2>Weekly Progress</h2>
            <p>Emma</p>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
    </div>
</section>