header {
    height: 5vh;
    margin-bottom: 5vh;

    &>img {
        object-fit: cover;
    }

    &>h2 {
        position: relative;
        padding-left: 10px;
        margin-left: 10px;
        text-transform: capitalize;
        letter-spacing: 0.15px;
        font-weight: 500;
    }

    &>h2::before {
        position: absolute;
        left: 0;
        content: "";
        width: 2px;
        height: 100%;
        background-color: grey;
    }
}

.registration-container {
    overflow: hidden;
}

.step {
    transition: transform 200ms ease;
    min-width: 100%;
    flex: 1;

    &:first-of-type {
        transform: translateX(-120%);
    }

    &:nth-of-type(2) {
        transform: translateX(100%);
    }

    &:nth-of-type(2).step-active {
        transform: translateX(calc(-100% - 20px));
    }

    &.step-active {
        transform: translateX(0);
    }
}

.field {
    margin-bottom: 18px;

    & label {
        display: block;
        margin-bottom: 5px;
    }

    & input {
        width: 100%;
        border: 1.5px solid black;
        border-radius: 5px;
        border-bottom-width: 3px;
        height: 40px;
        padding: 10px;
    }

    & select {
        width: 100%;
        border: 1.5px solid black;
        border-radius: 5px;
        height: 40px;
        padding: 10px;
        font-size: 0.9em;
    }

    & input::placeholder {
        text-transform: lowercase;
        font-size: 0.8em;
    }
}

mat-error {
    font-size: 0.8em;
    color: #b20000;
}

.input-invalid {
    border-color: #b20000 !important;
}

form button {
    padding: 10px;
    padding-inline: 20px;
    gap: 8px;
    margin-top: 30px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 90%;
    background-color: black;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition-property: background-color, outline;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn-secondary.btn-secondary {
    background-color: transparent;
    color: #000;
}

.btn-secondary:hover {
    outline: 1px solid #000;
}

.btn:hover {
    background-color: #444;
}

.btn:focus {
    outline: 1.5px solid #333;
}