<div
    [className]="loading() ? 'cogni-flex justify-center bg-[rgb(255,255,255,0.7)] fixed left-0 top-0 h-dvh w-dvw z-10': 'none'">
    <l-grid size="60" speed="1.5" color="black"></l-grid>
</div>

<div class="flex justify-center items-center w-dvw h-dvh bg-gray-200">
    <div class="container min-md:px-9 px-4.5 py-7.5 min-md:w-3/4 w-full bg-white rounded-2xl">
        <header class="cogni-flex">
            <logo />
            <span class="block h-7 w-[1.5px] bg-black ml-3 mr-1.5"></span>
            <h3>{{ heading_text() }}</h3>
        </header>

        <div [className]="registration_scheme() === 'register'? 'sign-up-container': 'sign-up-container none'">
            <div class="registration-container flex gap-5">
                <section [className]="login_step() === 1 ? 'step step-active' : 'step'">
                    <form [formGroup]="signupFormGroup">
                        <div class="field">
                            <label for="full-name">Full Name</label>
                            <input type="text" id="full-name" placeholder="Type your full name..."
                                formControlName="full_name" matInput required />
                            @if (signupFormGroup.controls.full_name.touched &&
                            signupFormGroup.controls.full_name.invalid) {
                            <mat-error>{{ nameErrorMessage(signupFormGroup) }}</mat-error>
                            }
                        </div>
                        <div class="field">
                            <label for="email">Email</label>
                            <input type="email" id="email" placeholder="what's your email?" formControlName="email"
                                matInput required />
                            @if (signupFormGroup.controls.email.touched && signupFormGroup.controls.email.invalid) {
                            <mat-error>{{ emailErrorMessage(signupFormGroup) }}</mat-error>
                            }
                        </div>
                        <div class="field">
                            <label for="age">Signing up as</label>
                            <select formControlName="age_group" required>
                                <option value="" disabled>--</option>
                                @for (age_group of age_group_signup; track age_group) {
                                <option [value]="age_group.value">{{ age_group.name }}</option>
                                }
                            </select>

                            @if (signupFormGroup.controls.age_group.touched &&
                            signupFormGroup.controls.age_group.hasError('required')) {
                            <mat-error>Please choose an age group</mat-error>
                            }
                        </div>
                        <button type="button" class="cogni-button cogni-flex" (click)="validateInputs()">
                            <span>Next</span>
                            <mat-icon aria-hidden="false" aria-label="submit arrow icon"
                                fontIcon="arrow_right_alt"></mat-icon>
                        </button>
                    </form>
                </section>
                <section [className]="login_step() === 2 ? 'step step-active' : 'step'">
                    <form [formGroup]="signupFormGroup2">
                        <h2>Hey {{ fullName }},</h2>
                        <p>Kindly type a password to get started with CogniBuddy</p>
                        @if (ageGroup === 'child') {
                        <div class="field mt-5">
                            <label for="pin">Enter a 4-digit PIN</label>
                            <input type="text" inputmode="numeric" maxlength="4" placeholder="Enter a 4-digit PIN"
                                id="pin" formControlName="password" (keydown)="allowOnlyNumbers($event)" required />
                        </div>
                        <div class="field">
                            <label for="confirm-pin">Re-type the PIN</label>
                            <input type="text" inputmode="numeric" maxlength="4" placeholder="re-type your PIN"
                                id="confirm-pin" [className]="invalidPassword() ? 'input-invalid' : ''"
                                (keydown)="allowOnlyNumbers($event)" (blur)="pickValue($event)" />
                        </div>
                        }
                        @else {
                        <div class="field mt-5">
                            <label for="password">Password</label>
                            <span class="relative">
                                <input [type]="showPassword1() ? 'text' : 'password'" formControlName="password"
                                    placeholder="use a secure password">
                                <button type="button" (click)="togglePassword(showPassword1)"
                                    class="absolute right-4 top-0">
                                    @if(showPassword1()){
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <rect width="24" height="24" fill="none" />
                                        <path fill="currentColor"
                                            d="M2.54 4.71L3.25 4L20 20.75l-.71.71l-3.34-3.35c-1.37.57-2.87.89-4.45.89c-4.56 0-8.5-2.65-10.36-6.5c.97-2 2.49-3.67 4.36-4.82zM11.5 18c1.29 0 2.53-.23 3.67-.66l-1.12-1.13c-.73.5-1.6.79-2.55.79C9 17 7 15 7 12.5c0-.95.29-1.82.79-2.55L6.24 8.41a10.64 10.64 0 0 0-3.98 4.09C4.04 15.78 7.5 18 11.5 18m9.24-5.5C18.96 9.22 15.5 7 11.5 7c-1.15 0-2.27.19-3.31.53l-.78-.78C8.68 6.26 10.06 6 11.5 6c4.56 0 8.5 2.65 10.36 6.5a11.47 11.47 0 0 1-4.07 4.63l-.72-.73c1.53-.96 2.8-2.3 3.67-3.9M11.5 8C14 8 16 10 16 12.5c0 .82-.22 1.58-.6 2.24l-.74-.74c.22-.46.34-.96.34-1.5A3.5 3.5 0 0 0 11.5 9c-.54 0-1.04.12-1.5.34l-.74-.74c.66-.38 1.42-.6 2.24-.6M8 12.5a3.5 3.5 0 0 0 3.5 3.5c.67 0 1.29-.19 1.82-.5L8.5 10.68c-.31.53-.5 1.15-.5 1.82" />
                                    </svg>
                                    } @else {
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <rect width="24" height="24" fill="none" />
                                        <path fill="currentColor"
                                            d="M11.5 18c4 0 7.46-2.22 9.24-5.5C18.96 9.22 15.5 7 11.5 7s-7.46 2.22-9.24 5.5C4.04 15.78 7.5 18 11.5 18m0-12c4.56 0 8.5 2.65 10.36 6.5C20 16.35 16.06 19 11.5 19S3 16.35 1.14 12.5C3 8.65 6.94 6 11.5 6m0 2C14 8 16 10 16 12.5S14 17 11.5 17S7 15 7 12.5S9 8 11.5 8m0 1A3.5 3.5 0 0 0 8 12.5a3.5 3.5 0 0 0 3.5 3.5a3.5 3.5 0 0 0 3.5-3.5A3.5 3.5 0 0 0 11.5 9" />
                                    </svg>
                                    }
                                </button>
                            </span>
                        </div>
                        <div class="field">
                            <label for="confirm-password">Confirm Password</label>
                            <span class="relative">
                                <input [type]="showPassword2() ? 'text' : 'password'"
                                    placeholder="re-type your password" id="confirm-password"
                                    (blur)="pickValue($event)" />
                                <button type="button" (click)="togglePassword(showPassword2)"
                                    class="absolute right-4 top-0">
                                    @if(showPassword2()){
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <rect width="24" height="24" fill="none" />
                                        <path fill="currentColor"
                                            d="M2.54 4.71L3.25 4L20 20.75l-.71.71l-3.34-3.35c-1.37.57-2.87.89-4.45.89c-4.56 0-8.5-2.65-10.36-6.5c.97-2 2.49-3.67 4.36-4.82zM11.5 18c1.29 0 2.53-.23 3.67-.66l-1.12-1.13c-.73.5-1.6.79-2.55.79C9 17 7 15 7 12.5c0-.95.29-1.82.79-2.55L6.24 8.41a10.64 10.64 0 0 0-3.98 4.09C4.04 15.78 7.5 18 11.5 18m9.24-5.5C18.96 9.22 15.5 7 11.5 7c-1.15 0-2.27.19-3.31.53l-.78-.78C8.68 6.26 10.06 6 11.5 6c4.56 0 8.5 2.65 10.36 6.5a11.47 11.47 0 0 1-4.07 4.63l-.72-.73c1.53-.96 2.8-2.3 3.67-3.9M11.5 8C14 8 16 10 16 12.5c0 .82-.22 1.58-.6 2.24l-.74-.74c.22-.46.34-.96.34-1.5A3.5 3.5 0 0 0 11.5 9c-.54 0-1.04.12-1.5.34l-.74-.74c.66-.38 1.42-.6 2.24-.6M8 12.5a3.5 3.5 0 0 0 3.5 3.5c.67 0 1.29-.19 1.82-.5L8.5 10.68c-.31.53-.5 1.15-.5 1.82" />
                                    </svg>
                                    } @else {
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <rect width="24" height="24" fill="none" />
                                        <path fill="currentColor"
                                            d="M11.5 18c4 0 7.46-2.22 9.24-5.5C18.96 9.22 15.5 7 11.5 7s-7.46 2.22-9.24 5.5C4.04 15.78 7.5 18 11.5 18m0-12c4.56 0 8.5 2.65 10.36 6.5C20 16.35 16.06 19 11.5 19S3 16.35 1.14 12.5C3 8.65 6.94 6 11.5 6m0 2C14 8 16 10 16 12.5S14 17 11.5 17S7 15 7 12.5S9 8 11.5 8m0 1A3.5 3.5 0 0 0 8 12.5a3.5 3.5 0 0 0 3.5 3.5a3.5 3.5 0 0 0 3.5-3.5A3.5 3.5 0 0 0 11.5 9" />
                                    </svg>
                                    }
                                </button>
                            </span>

                            @if (invalidPassword()) {
                            <mat-error>Passwords do not match!</mat-error>
                            }
                        </div>
                        }
                        <div class="btn-container flex gap-3.5">
                            <button type="button" class="cogni-button secondary cogni-flex" (click)="prevPage()">
                                <span>Back</span>
                                <mat-icon aria-hidden="false" aria-label="back arrow icon"
                                    fontIcon="arrow_left_alt"></mat-icon>
                            </button>
                            <button type="button" class="cogni-button cogni-flex" (click)="registerUser()">
                                <span>Let's get started</span>
                            </button>
                        </div>
                    </form>
                </section>
            </div>

            <p class="text-center text-[90%] mt-3.5">You have an account? <span class="underline cursor-pointer"
                    (click)="registration_scheme.set('login')">Log in</span></p>
        </div>

        <div [className]="registration_scheme() === 'login'? 'login-container': 'login-container none'">
            <form [formGroup]="loginFormGroup">
                <h2 class="mb-3.5">Welcome Back</h2>
                <div class="field">
                    <label for="age-group">Age Group</label>
                    <select id="age-group" (change)="renderAppropriateLoginDetails($event)" required>
                        @for (age_group of age_groups; track age_group) {
                        <option [value]="age_group.value">{{ age_group.name }}</option>
                        }
                    </select>
                </div>
                @if (ageGroupLogin() === 'child') {
                <div class="field">
                    <label for="login-name">What's your name</label>
                    <input type="text" id="login-name" formControlName="username"
                        placeholder="Type your game username..." required />

                    @if (loginFormGroup.controls.username.touched && loginFormGroup.controls.username.invalid) {
                    <mat-error>{{ nameErrorMessage(loginFormGroup) }}</mat-error>
                    }
                    @if (!loginError().valid && loginError().message === 'User not found') {
                    <mat-error>Your name doesn't exist!</mat-error>
                    }
                </div>
                <div class="field">
                    <label for="login-pin">Enter your 4-digit PIN</label>
                    <span class="relative">
                        <input 
                            [type]="showPasswordLogin() ? 'text' : 'password'" 
                            inputmode="numeric" maxlength="4" id="login-pin" 
                            formControlName="password"
                            (keydown)="allowOnlyNumbers($event)" 
                            placeholder="type the 4-digit PIN your parent set"
                            required />
                        <button type="button" (click)="togglePassword(showPasswordLogin)" class="absolute right-4 top-0">
                            @if(showPasswordLogin()){
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <rect width="24" height="24" fill="none" />
                                <path fill="currentColor"
                                    d="M2.54 4.71L3.25 4L20 20.75l-.71.71l-3.34-3.35c-1.37.57-2.87.89-4.45.89c-4.56 0-8.5-2.65-10.36-6.5c.97-2 2.49-3.67 4.36-4.82zM11.5 18c1.29 0 2.53-.23 3.67-.66l-1.12-1.13c-.73.5-1.6.79-2.55.79C9 17 7 15 7 12.5c0-.95.29-1.82.79-2.55L6.24 8.41a10.64 10.64 0 0 0-3.98 4.09C4.04 15.78 7.5 18 11.5 18m9.24-5.5C18.96 9.22 15.5 7 11.5 7c-1.15 0-2.27.19-3.31.53l-.78-.78C8.68 6.26 10.06 6 11.5 6c4.56 0 8.5 2.65 10.36 6.5a11.47 11.47 0 0 1-4.07 4.63l-.72-.73c1.53-.96 2.8-2.3 3.67-3.9M11.5 8C14 8 16 10 16 12.5c0 .82-.22 1.58-.6 2.24l-.74-.74c.22-.46.34-.96.34-1.5A3.5 3.5 0 0 0 11.5 9c-.54 0-1.04.12-1.5.34l-.74-.74c.66-.38 1.42-.6 2.24-.6M8 12.5a3.5 3.5 0 0 0 3.5 3.5c.67 0 1.29-.19 1.82-.5L8.5 10.68c-.31.53-.5 1.15-.5 1.82" />
                            </svg>
                            } @else {
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <rect width="24" height="24" fill="none" />
                                <path fill="currentColor"
                                    d="M11.5 18c4 0 7.46-2.22 9.24-5.5C18.96 9.22 15.5 7 11.5 7s-7.46 2.22-9.24 5.5C4.04 15.78 7.5 18 11.5 18m0-12c4.56 0 8.5 2.65 10.36 6.5C20 16.35 16.06 19 11.5 19S3 16.35 1.14 12.5C3 8.65 6.94 6 11.5 6m0 2C14 8 16 10 16 12.5S14 17 11.5 17S7 15 7 12.5S9 8 11.5 8m0 1A3.5 3.5 0 0 0 8 12.5a3.5 3.5 0 0 0 3.5 3.5a3.5 3.5 0 0 0 3.5-3.5A3.5 3.5 0 0 0 11.5 9" />
                            </svg>
                            }
                        </button>
                    </span>


                    @if (!loginError().valid && loginError().message === 'Invalid password') {
                    <mat-error>Invalid password!</mat-error>
                    }
                </div>

                }
                @else{
                <div class="field">
                    <label for="login-email">Email</label>
                    <input type="email" id="login-email" formControlName="email" required />

                    @if (loginFormGroup.controls.email.touched &&
                    loginFormGroup.controls.email.hasError('required')) {
                    <mat-error>This field cannot be empty</mat-error>
                    }
                    @else if (!loginError().valid && loginError().message === 'User not found') {
                    <mat-error>Email doesn't exist!</mat-error>
                    }
                    @else if (loginFormGroup.controls.email.touched &&
                    loginFormGroup.controls.email.hasError('email')) {
                    <mat-error>Enter a valid email!</mat-error>
                    }
                </div>
                <div class="field">
                    <label for="login-password">Password</label>
                    <input type="password" id="login-password" formControlName="password" required />

                    @if (loginFormGroup.controls.password.touched &&
                    loginFormGroup.controls.password.hasError('required')) {
                    <mat-error>This field cannot be empty</mat-error>
                    }
                    @else if (!loginError().valid && loginError().message === 'Invalid password') {
                    <mat-error>Invalid password!</mat-error>
                    }
                </div>
                }
                <div class="btn-container flex gap-3.5">
                    <button type="button" class="cogni-button cogni-flex" (click)="loginUser()">
                        <span>Log In</span>
                    </button>
                </div>
            </form>

            <p class="text-center text-[90%] mt-3.5">New here? <span class="underline cursor-pointer"
                    (click)="registration_scheme.set('register')">Create an account</span></p>
        </div>
    </div>
</div>