<div class="trail-container relative flex flex-col items-center justify-center p-5 pt-8">
    <button class="text-4xl absolute left-15 top-5" (click)="goBack()">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 512 512"><rect width="512" height="512" fill="none"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="20" d="M249.38 336L170 256l79.38-80m-68.35 80H342"/><path fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="20" d="M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192s192-86 192-192Z"/></svg>
    </button>

    <h2>🔢 Number Trail</h2>

    @if (!completed) {
    <p>Tap numbers from 1 to 10 in order!</p>
    }
    @if (completed) {
    <p>🎉 Finished in {{ ((endTime - startTime) / 1000).toFixed(2) }}s — Score: {{ score }}</p>
    }

    <div class="grid">
        @for (num of numbers; track $index) {
        <button [disabled]="num === -1" [class.tapped]="num === -1" class="btn" (click)="onNumberClick(num)">
        {{ num !== -1 ? num : '' }}
        </button>
        }
    </div>

    <div class="controls">
        <button (click)="resetGame()" class="capitalize mt-2.5 cogni-button secondary" [disabled]="!completed">
            play again
        </button>
    </div>
</div>