<header class="cogni-flex">
    <img src="cognibuddy_logo.png" alt="Cognibuddy Logo">
    <nav class="cogni-flex">
        <ul class="cogni-flex round light-bg">
            @for (nav of navs; track $index) {
                <li>
                    <a [href]="nav.route" class="nav-menu round">{{nav.label}}</a>
                </li>    
            }
        </ul>
        <button (click)="logout()" class="cogni-flex round light-bg">
            <mat-icon aria-hidden="false" aria-label="logout icon" fontIcon="logout"></mat-icon>
        </button>
    </nav>
</header>