<header class="cogni-flex">
    <img src="cognibuddy_logo.png" alt="Cognibuddy Logo">
    <nav class="cogni-flex">
        <ul class="cogni-flex">
            <li><a routerLink="/home" routerLinkActive="active" class="nav-menu-active">Home</a></li>
            <li><a routerLink="/about" routerLinkActive="active">My Children</a></li>
            <li><a routerLink="/contact" routerLinkActive="active">Activity Log</a></li>
            <li><a routerLink="/login" routerLinkActive="active">Settings</a></li>
        </ul>
        <button (click)="logout()">
            <mat-icon aria-hidden="false" aria-label="logout icon" fontIcon="logout"></mat-icon>
        </button>
    </nav>
</header>