/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
}

.cogni-flex {
    display: flex;
    align-items: center;
}

input, textarea {
    border: none;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

h1 {
    font-size: 1.5em;
    line-height: 1.5em;
    margin-block: 8px 15px;
}

h2 {
    font-size: 1.2em;
    line-height: 1.2em;
    margin-block: 8px 15px;
}

.cogni-flex {
    display: flex;
    align-items: center;
}

.none {
    display: none;
}

.card  {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 24px;
    border: 1.5px solid #fff;
}

.mat-mdc-notch-piece.mdc-notched-outline__notch {
    border-inline: none;
}

@media screen and (max-width: 48rem) {
    body {
        font-size: 14px;
    }
}
