<div class="px-5 mt-5">
    <h1>Welcome <span class="capitalize">{{ username }}</span></h1>
    <p>What game would you like to play today?</p>

    <games />

    <h2 class="mt-15 mb-5">Here is a statistics on the game you've played:</h2>
    @for (game of summaries(); track $index) {
    <div class="game-summary border p-4 rounded mb-4 shadow">
        <h3 class="capitalize mt-2.5">{{ game.game }}</h3>
        <p>Latest Score: <strong>{{ game.recentScore }}%</strong></p>
        <p>Average Score: <strong>{{ game.averageScore }}%</strong></p>
        @if(game.badges.length > 0) {
        <p>Badges:
            @for (item of game.badges; track $index) {
            <span class="badge">{{ item }}</span>
            }
        </p>
        }
    </div>
    }
</div>