<div class="px-5 mt-5 mb-10">
    <h1>Welcome <span class="capitalize">{{ username }}</span></h1>
    <p>What game would you like to play today?</p>

    <games />

    <h2 class="mt-15 mb-5">Here is a statistics on the game you've played:</h2>
    @for (game of summaries(); track $index) {
    <div class="game-summary border p-4 rounded mb-4 shadow">
        <h3 class="capitalize mt-2.5">{{ game.game }}</h3>
        <p>Latest Score: <strong>{{ game.recentScore }}%</strong></p>
        <p>Average Score: <strong>{{ game.averageScore }}%</strong></p>
        @if(game.badges.length > 0) {
        <p>Badges:
            @for (item of game.badges; track $index) {
            <span class="badge">{{ item }}</span>
            }
        </p>
        }
    </div>
    }
    @empty {
    <div class="text-center flex flex-col items-center my-5">
        <div class="text-4xl text-[#6a7282]">
            <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24">
                <rect width="24" height="24" fill="none" />
                <g fill="none">
                    <path stroke="currentColor" stroke-width="1"
                        d="M2 12c0 5.523 4.477 10 10 10c.648 0 1.25-.3 1.708-.758l7.534-7.534C21.7 13.25 22 12.648 22 12c0-5.523-4.477-10-10-10S2 6.477 2 12Z" />
                    <path stroke="currentColor" stroke-linecap="round" stroke-width="1"
                        d="M8.913 15.934a8.1 8.1 0 0 0 3.356.1" />
                    <ellipse cx="14.509" cy="9.774" fill="currentColor" rx="1" ry="1.5"
                        transform="rotate(-15 14.51 9.774)" />
                    <ellipse cx="8.714" cy="11.328" fill="currentColor" rx="1" ry="1.5"
                        transform="rotate(-15 8.714 11.328)" />
                    <path stroke="currentColor" stroke-width="1"
                        d="M12 22c0-2.793 0-4.19.393-5.312a7 7 0 0 1 4.295-4.295C17.811 12 19.208 12 22 12" />
                </g>
            </svg>
        </div>
        <p class="text-gray-500 italic p-3">You're all caught up! You haven't played any game.</p>
    </div>
    }
</div>